body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: white;
  padding: 0 2rem;
  display: flex;
  align-items: baseline;
}

header h1 {
  color: #0290ff;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  color: #0290ff;
}

nav {
  display: flex;
  width: 20rem;
  justify-content: space-around;
  margin-left: 80px;
}

.books, .book-details {
  display: flex;
  flex-direction: column;
}

.book, .filter-form, .books-form-div {
  width: 95%;
  margin: 1rem auto;
}

.book {
  padding-left: 1rem;
  background-color: white;
  min-height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-details {
  min-height: 90px;
}

.book-details p {
  margin: 0.2rem;
}

.book-cat {
  color: #777c80;
}

.book-title {
  font-size: larger;
  font-weight: bolder;
}

.book-author {
  font-size: smaller;
  color: #4386bf;
}

.remove-book {
  color: white;
  width: 184px;
  height: 33px;
  border-radius: 3px;
  background-color: #0290ff;
  margin-right: 100px;
}

.book button:hover {
  cursor: pointer;
}

#filter, #category {
  background-color: white;
}

.books-form {
  display: flex;
  align-items: baseline;
}

.books-form input {
  width: 664px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  padding-left: 20px;
}

.books-form select {
  width: 285px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.books-form button {
  width: 184px;
  height: 45px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #0290ff;
}

@media only screen and (max-width: 700px) {
  .books-form {
    flex-direction: column;
  }

  /* body {
    width: 100%;
  } */

  .book, .filter-form, .books-form-div {
    width: 100%;
    margin: 1rem auto;
  }

  .books-form-div {
    margin: 1rem;
  }

  .books-form select,
  .books-form input,
  .books-form button {
    margin-bottom: 1rem;
  }

  nav {
    width: 30rem;
  }
}