body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: white;
  padding: 0.1rem 2rem;
  display: flex;
  align-items: baseline;
}

header h1 {
  color: #0290ff;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  color: #0290ff;
}

nav {
  display: flex;
  width: 20rem;
  justify-content: space-around;
  margin-left: 80px;
}

.books, .book-details {
  display: flex;
  flex-direction: column;
}

.book, .filter-form, .books-form-div {
  width: 95%;
  margin: 1rem auto;
}

.book {
  padding-left: 1rem;
  background-color: white;
  min-height: 120px;
  justify-content: space-evenly;
}

.book-details {
  min-height: 90px;
}

.book-details p {
  margin: 0.2rem;
}

.book-cat {
  color: #777c80;
}

.book-title {
  font-size: larger;
  font-weight: bolder;
}

.book-author {
  font-size: smaller;
  color: #4386bf;
}

.book button {
  font-size: small;
  color: #4386bf;
  background-color: white;
  padding: 0 5px;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #777c80;
  border-right: 1px solid #777c80;
}

.book button:hover {
  cursor: pointer;
}

#filter, #category {
  background-color: white;
}

.books-form {
  display: flex;
  align-items: baseline;
}

.books-form input {
  flex-basis: 40%;
}

.books-form label,
.books-form button {
  margin-left: 3rem;
}

.books-form button {
  background-color: #0290ff;
  color: white;
  font-weight: bolder;
}

@media only screen and (max-width: 700px) {
  .books-form {
    flex-direction: column;
  }

  .books-form label,
  .books-form button {
    margin: 1rem 0;
  }

  nav {
    width: 30rem;
  }
}